TODOIST_API_TOKEN=get-this-from-Todoist-settings
DATABASE_NAME=database-name-here
DATABASE_USER=database-username-here
DATABASE_PASSWORD=database-user-password-here
DATABASE_HOST=put-an-ip-address-here
DATABASE_PORT=5432